
<app-layout>


    <form #agentForm="ngForm" (ngSubmit)="agentForm.valid && onSubmit(agentForm)">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Edit Agent</h3>
            </div>
        <div class="panel-body">
        <div class="form-group">
        <input type="text"  #agentName="ngModel" [(ngModel)]="agent.agentName" name="agentName"  placeholder="agentName" class="form-control"
        required  [ngClass]="{'invalid-textbox' :agentForm.submitted && !agentName.valid }">
        <div *ngIf="agentForm.submitted && !agentName.valid">
          <label class="validation-message">This field is required.</label>
        </div>
      </div>
    
     <div class="form-group">
        <input type="text"  #MobileNumber="ngModel" [(ngModel)]="agent.MobileNumber" name="MobileNumber"  placeholder="MobileNumber" class="form-control"
        required [ngClass]="{'invalid-textbox' :agentForm.submitted && !MobileNumber.valid }">
        <div *ngIf="agentForm.submitted && MobileNumber.errors">
          <label *ngIf="MobileNumber.errors.required" class="validation-message">This field is required.</label>
         
        </div>
     </div>
     
      
     
     
      
       
            
          </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Save</button>
       
      </div>
    
    </div>
    
      </form>
    
      <!-- Success message -->
      <div class="success" *ngIf="showSucessMessage">
        Saved successfully
      </div>
      
      <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>
    </app-layout>